<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <title>Demo Title</title>
    </head>
    <body>
        <input type="text" name="name" id="name" placeholder="name" /><br>
        <input type="text" name="rollno" id="rollno" placeholder="rollno" /><br>
        <input type="text" name="grade" id="grade" placeholder="grade" /><br>
        <input type="button" name="submit" id="submit" value="submit" />
    </body>
</html>
